<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seata.alitaseata.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="com.seata.alitaseata.mapper.AccountMapper">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectByUserId" resultType="com.seata.alitaseata.model.Account">
        select id, user_id, total from account
        WHERE user_id = #{userId}
    </select>

</mapper>